h1 {
    color:pink;
    background : skyblue;
}

h2 {
    color:red;
    background : skyblue;
}

h3 {
    color:purple;
    background : skyblue;
}

h4 {
    color:black;
    background : skyblue;
}

h5 {
    color:green;
    background : skyblue;
}

h6 {
    color:goldenrod;
    background : skyblue;
}